body{
	background-color:rgb(153, 204, 255);
}

.main_div{
	width=50%;
}
#food-image{
	width=40%;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: rgb(255, 204, 204);
}

/* mouse over link */
a:hover {
  color: purple;
}

/* selected link */
a:active {
  color: blue;
}